In [1]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database

In [2]:
permits_file = 'data/Building_Permits.csv'
lib_file = 'data/Library_Usage.csv'
imp_permits = pd.read_csv(permits_file)
imp_lib = pd.read_csv(lib_file)

In [3]:
#write a dict to change the column names
#write
#look at each column for unique data to figure out which columns become ref tables
#link the already keyed columns
#create a df for each ref table

In [4]:
#rename the permit columns
perm_dict = {
'Permit Number':'permit_numb',
'Permit Type':'permit_type',
'Permit Type Definition':'permit_type_def',
'Permit Creation Date':'permit_creation_dt',
'Block':'block',
'Lot':'lot',
'Street Number':'street_numb',
'Street Number Suffix':'street_numb_suffix',
'Street Name':'street_name',
'Street Suffix':'street_suffix',
'Description':'description',
'Current Status':'current_status',
'Current Status Date':'current_status_date',
'Filed Date':'filed_date',
'Issued Date':'issued_date',
'Completed Date':'completed_date',
'First Construction Document Date':'first_cons_doc_date',
'Structural Notification':'structural_notif',
'Number of Existing Stories':'numb_curr_stories',
'Number of Proposed Stories':'numb_proposed_stroies',
'Fire Only Permit':'fire_only_permit',
'Permit Expiration Date':'permit_expire_dt',
'Estimated Cost':'est_cost',
'Revised Cost':'revised_cost',
'Existing Use':'existing_use',
'Existing Units':'exisisting_units',
'Proposed Use':'proposed_use',
'Proposed Units':'proposed_units',
'Existing Construction Type':'existing_cons_type',
'Existing Construction Type Description':'exisiting_cons_type_desc',
'Proposed Construction Type':'proposed_cons_type',
'Proposed Construction Type Description':'proposed_cons_type_desc',
'Site Permit':'site_permit',
'Supervisor District':'sup_dist',
'Neighborhoods - Analysis Boundaries':'neighborhoods',
'Zipcode':'zip',
'Location':'location'
}
imp_permits = imp_permits.rename(columns=perm_dict)

In [5]:
#rename the library columns
lib_dict = {
'Patron Type Code':'pat_type_cd',
'Patron Type Definition':'pat_type_def',
'Total Checkouts':'total_checkouts',
'Total Renewals':'total_renewals',
'Age Range':'age_range',
'Home Library Code':'home_lib_cd',
'Home Library Definition':'home_lib_def',
'Circulation Active Month':'circ_active_month',
'Circulation Active Year':'circ_active_year',
'Notice Preference Code':'notice_pref_cd',
'Notice Preference Definition':'notice_pref_def',
'Provided Email Address':'email',
'Year Patron Registered':'year_pat_registered',
'Outside of County':'outsied_county',
'Supervisor District':'sup_dist'
}
imp_lib = imp_lib.rename(columns=lib_dict)

In [6]:
#send everything to POSTGres
base_perm_engine = create_engine('postgres://postgres:postgres@localhost/base_perm')

imp_permits.to_sql('permits', base_perm_engine, if_exists='replace')

In [7]:
base_lib_engine = create_engine('postgres://postgres:postgres@localhost/base_lib')

imp_lib.to_sql('lib', base_lib_engine, if_exists='replace')
#figure out how to get the total db size

In [8]:
#This will somehow get the db size
#base_lib = base_lib_engine.connect()
#db_size = base_lib.execute("select pg_size_pretty(pg_database_size('base_lib')) as db_size").fetchall()

In [9]:
SF_engine = create_engine('postgres://postgres:postgres@localhost/SF_data')

In [10]:
#start populating the data

#this code makes a DF out of unique column values, drops NaN, renames the columns, then writes the DF to the SQL table

#age range
pd.DataFrame(imp_lib['age_range'].unique()).dropna().rename(columns = {0:'age_range'}).to_sql('ref_age_range',SF_engine, if_exists='append')

#block
pd.DataFrame(imp_permits['block'].unique()).dropna().rename(columns = {0:'block'}).to_sql('ref_block',SF_engine, if_exists='append')

#month
pd.DataFrame(imp_lib['circ_active_month'].unique()).dropna().rename(columns = {0:'circ_active_month'}).to_sql('ref_c_month',SF_engine, if_exists='append')

#cons type
pd.DataFrame(imp_permits['exisiting_cons_type_desc'].unique()).dropna().rename(columns = {0:'existing_cons_type_desc'}).to_sql('ref_cons_type',SF_engine, if_exists='append')

#lib code
pd.DataFrame(imp_lib['home_lib_def'].unique()).dropna().rename(columns = {0:'home_lib_def'}).to_sql('ref_lib_code',SF_engine, if_exists='append')

#lot
pd.DataFrame(imp_permits['lot'].unique()).dropna().rename(columns = {0:'lot'}).to_sql('ref_lot',SF_engine, if_exists='append')

#neighborhoods
pd.DataFrame(imp_permits['neighborhoods'].unique()).dropna().rename(columns = {0:'neighborhoods'}).to_sql('ref_neighborhoods',SF_engine, if_exists='append')

#notices
pd.DataFrame(imp_lib['notice_pref_def'].unique()).dropna().rename(columns = {0:'notice_pref_cd'}).to_sql('ref_notice',SF_engine, if_exists='append')

#patron_Type
pd.DataFrame(imp_lib['pat_type_def'].unique()).dropna().rename(columns = {0:'pat_type_def'}).to_sql('ref_patron_type',SF_engine, if_exists='append')

#permit_type
pd.DataFrame(imp_permits['permit_type_def'].unique()).dropna().rename(columns = {0:'permit_type_def'}).to_sql('ref_permit_type',SF_engine, if_exists='append')

#permit status
pd.DataFrame(imp_permits['current_status'].unique()).dropna().rename(columns = {0:'current_status'}).to_sql('ref_status',SF_engine, if_exists='append')

#street name
pd.DataFrame(imp_permits['street_name'].unique()).dropna().rename(columns = {0:'street_name'}).to_sql('ref_street_name',SF_engine, if_exists='append')

#street numb suffix
pd.DataFrame(imp_permits['street_numb_suffix'].unique()).dropna().rename(columns = {0:'street_numb_suffix'}).to_sql('ref_street_numb_suffix',SF_engine, if_exists='append')

#street suffix
pd.DataFrame(imp_permits['street_suffix'].unique()).dropna().rename(columns = {0:'suffix'}).to_sql('ref_street_suffix',SF_engine, if_exists='append')

#Use
pd.DataFrame(imp_permits['existing_use'].unique()).dropna().rename(columns = {0:'existing_use'}).to_sql('ref_use',SF_engine, if_exists='append')

#zip code
pd.DataFrame(imp_permits['zip'].unique()).dropna().rename(columns = {0:'zip'}).to_sql('ref_zip_code',SF_engine, if_exists='append')

In [11]:
#Set up the data to load into the patron table

pat_load_df = imp_lib[[
'pat_type_def',
'total_checkouts',
'total_renewals',
'age_range',
'home_lib_def',
'circ_active_month',
'circ_active_year',
'notice_pref_def',
'email',
'year_pat_registered',
'outsied_county',
'sup_dist'
]]

pat_pre_df = pat_load_df.rename(columns={'pat_type_def':'pat_type', 'home_lib_def':'home_library'})
pat_pre_df.head()

,pat_type,total_checkouts,total_renewals,age_range,home_library,circ_active_month,circ_active_year,notice_pref_def,email,year_pat_registered,outsied_county,sup_dist
0,SENIOR,28,13,65 to 74 years,Main Library,November,2012,email,True,2003,True,NaN
1,ADULT,21,10,55 to 59 years,Main Library,October,2015,email,True,2003,False,NaN
2,ADULT,275,559,60 to 64 years,Main Library,January,2015,email,True,2003,True,NaN
3,ADULT,73,38,45 to 54 years,Mission Bay,February,2016,email,True,2003,False,NaN
4,ADULT,182,90,45 to 54 years,Main Library,July,2016,email,True,2003,False,NaN

In [12]:
SF_data = SF_engine.connect()

#use the query to write a dictionary the df values
#This was done to ensure the key constraints were met
#pretty sure w/ a bit more work I could do this w/ a loop, but I don't have time.

pat_type_dict = pd.read_sql_query('select * from ref_patron_type', index_col = 'pat_type_def', con=SF_data).to_dict()['index']
age_dict = pd.read_sql_query('select * from ref_age_range', index_col = 'age_range', con=SF_data).to_dict()['index']
home_lib_dict = pd.read_sql_query('select * from ref_lib_code', index_col = 'home_lib_def', con=SF_data).to_dict()['index']
c_month_dict = pd.read_sql_query('select * from ref_c_month', index_col = 'circ_active_month', con=SF_data).to_dict()['index']
c_year_dict = pd.read_sql_query('select * from ref_c_year', index_col = 'circ_active_year', con=SF_data).to_dict()['index']
notice_dict = pd.read_sql_query('select * from ref_notice', index_col = 'notice_pref_cd', con=SF_data).to_dict()['index']
year_pat_dict = pd.read_sql_query('select * from ref_c_year', index_col = 'circ_active_year', con=SF_data).to_dict()['index']
sup_dict = pd.read_sql_query('select * from ref_supervisor', index_col = 'sup_dist', con=SF_data).to_dict()['index']

In [13]:
#make a DF to load into the database
pat_load_df = pat_pre_df.replace({
                    'pat_type':pat_type_dict,
                     'age_range':age_dict,
                     'home_library':home_lib_dict,
                     'circ_active_month':c_month_dict,
                     'notice_pref_def':notice_dict,
                    }
                   )
pat_load_df.to_sql('patron_main',SF_engine, if_exists='append')
pat_load_df.head()

,pat_type,total_checkouts,total_renewals,age_range,home_library,circ_active_month,circ_active_year,notice_pref_def,email,year_pat_registered,outsied_county,sup_dist
0,0,28,13,0.0,0,0,2012,0,True,2003,True,NaN
1,1,21,10,1.0,0,1,2015,0,True,2003,False,NaN
2,1,275,559,2.0,0,2,2015,0,True,2003,True,NaN
3,1,73,38,3.0,1,3,2016,0,True,2003,False,NaN
4,1,182,90,3.0,0,4,2016,0,True,2003,False,NaN

In [14]:
permit_pre_df = imp_permits[['permit_numb',
'permit_type_def',
'permit_creation_dt',
'block',
'lot',
'street_numb',
'street_numb_suffix',
'street_name',
'street_suffix',
'current_status',
'current_status_date',
'filed_date',
'issued_date',
'completed_date',
'first_cons_doc_date',
'structural_notif',
'numb_curr_stories',
'numb_proposed_stroies',
'fire_only_permit',
'permit_expire_dt',
'est_cost',
'revised_cost',
'existing_use',
'proposed_use',
'exisiting_cons_type_desc',
'proposed_cons_type_desc',
'site_permit',
'sup_dist',
'neighborhoods',
'zip',
'location']]

permit_pre_df.head()

,permit_numb,permit_type_def,permit_creation_dt,block,lot,street_numb,street_numb_suffix,street_name,street_suffix,current_status,...,revised_cost,existing_use,proposed_use,exisiting_cons_type_desc,proposed_cons_type_desc,site_permit,sup_dist,neighborhoods,zip,location
0,2.02E+11,sign - erect,5/6/2015,326,23,140,NaN,Ellis,St,expired,...,4000.0,tourist hotel/motel,NaN,constr type 3,NaN,NaN,3.0,Tenderloin,94102.0,"(37.785719256680785, -122.40852313194863)"
1,2.02E+11,sign - erect,4/19/2016,306,7,440,NaN,Geary,St,issued,...,500.0,tourist hotel/motel,NaN,constr type 3,NaN,NaN,3.0,Tenderloin,94102.0,"(37.78733980600732, -122.41063199757738)"
2,2.02E+11,additions alterations or repairs,5/27/2016,595,203,1647,NaN,Pacific,Av,withdrawn,...,NaN,retail sales,retail sales,constr type 1,constr type 1,NaN,3.0,Russian Hill,94109.0,"(37.7946573324287, -122.42232562979227)"
3,2.02E+11,otc alterations permit,11/7/2016,156,11,1230,NaN,Pacific,Av,complete,...,2000.0,1 family dwelling,1 family dwelling,wood frame (5),wood frame (5),NaN,3.0,Nob Hill,94109.0,"(37.79595867909168, -122.41557405519474)"
4,2.02E+11,demolitions,11/28/2016,342,1,950,NaN,Market,St,issued,...,100000.0,retail sales,NaN,constr type 3,NaN,NaN,6.0,Tenderloin,94102.0,"(37.78315261897309, -122.40950883997789)"

In [15]:
permit_type_dict = pd.read_sql_query('select * from ref_permit_type', index_col = 'permit_type_def', con=SF_data).to_dict()['index']

block_dict = pd.read_sql_query('select * from ref_block', index_col = 'block', con=SF_data).to_dict()['index']

lot_dict = pd.read_sql_query('select * from ref_lot', index_col = 'lot', con=SF_data).to_dict()['index']

street_name_suf_dict = pd.read_sql_query('select * from ref_street_suffix', index_col = 'suffix', con=SF_data).to_dict()['index']

street_numb_suf_dict = pd.read_sql_query('select * from ref_street_numb_suffix', index_col = 'street_numb_suffix', con=SF_data).to_dict()['index']

street_name_dict = pd.read_sql_query('select * from ref_street_name', index_col = 'street_name', con=SF_data).to_dict()['index']

use_dict = pd.read_sql_query('select * from ref_use', index_col = 'existing_use', con=SF_data).to_dict()['index']

cons_dict = pd.read_sql_query('select * from ref_cons_type', index_col = 'existing_cons_type_desc', con=SF_data).to_dict()['index']

neighborhood_dict = pd.read_sql_query('select * from ref_neighborhoods', index_col = 'neighborhoods', con=SF_data).to_dict()['index']

zip_dict = pd.read_sql_query('select * from ref_zip_code', index_col = 'zip', con=SF_data).to_dict()['index']

In [16]:
#make a DF to load into the database
per_load_df = permit_pre_df.replace({
                    'permit_type_def':permit_type_dict,
                     'block':block_dict,
                     'lot':lot_dict,
                     'street_numb_suffix':street_numb_suf_dict,
                     'street_name':street_name_dict,
                     'existing_use':use_dict,
                    'proposed_use':use_dict,
                     'existing_use':cons_dict,
                    'proposed_use':cons_dict,
                    'neighborhoods':neighborhood_dict,
                    'zip':zip_dict
                    }
                   )
per_load_df.to_sql('permits_main',SF_engine, if_exists='append')
per_load_df.head()

,permit_numb,permit_type_def,permit_creation_dt,block,lot,street_numb,street_numb_suffix,street_name,street_suffix,current_status,...,revised_cost,existing_use,proposed_use,exisiting_cons_type_desc,proposed_cons_type_desc,site_permit,sup_dist,neighborhoods,zip,location
0,2.02E+11,0,5/6/2015,0,0,140,NaN,0,St,expired,...,4000.0,tourist hotel/motel,NaN,constr type 3,NaN,NaN,3.0,0.0,0.0,"(37.785719256680785, -122.40852313194863)"
1,2.02E+11,0,4/19/2016,1,1,440,NaN,1,St,issued,...,500.0,tourist hotel/motel,NaN,constr type 3,NaN,NaN,3.0,0.0,0.0,"(37.78733980600732, -122.41063199757738)"
2,2.02E+11,1,5/27/2016,2,2,1647,NaN,2,Av,withdrawn,...,NaN,retail sales,retail sales,constr type 1,constr type 1,NaN,3.0,1.0,1.0,"(37.7946573324287, -122.42232562979227)"
3,2.02E+11,2,11/7/2016,3,3,1230,NaN,2,Av,complete,...,2000.0,1 family dwelling,1 family dwelling,wood frame (5),wood frame (5),NaN,3.0,2.0,1.0,"(37.79595867909168, -122.41557405519474)"
4,2.02E+11,3,11/28/2016,4,4,950,NaN,3,St,issued,...,100000.0,retail sales,NaN,constr type 3,NaN,NaN,6.0,0.0,0.0,"(37.78315261897309, -122.40950883997789)"

In [20]:
base_lib = base_lib_engine.connect()
lib_db_size = base_lib.execute("select pg_size_pretty(pg_database_size('base_lib')) as db_size").fetchall()
per_db_size = base_lib.execute("select pg_size_pretty(pg_database_size('base_perm')) as db_size").fetchall()
SF_db_size = base_lib.execute("select pg_size_pretty(pg_database_size('SF_data')) as db_size").fetchall()

In [22]:
print(lib_db_size)
print(per_db_size)
print(SF_db_size)

[('77 MB',)]
[('83 MB',)]
[('287 MB',)]